.product-detail {
    display: flex;
    flex-wrap: wrap;
}
.product-detail__image {
    width: 40%;
}
@media (max-width: 768px) {
    .product-detail__image {
        width: 100%;
    }
}
.product-detail__description {
    width: 60%;
    padding-left: 20px;
}
@media (max-width: 768px) {
    .product-detail__description {
        width: 100%
    }
}
.product-detail__image--img {
    width: 100%;
    height: auto;
}
